@model dynamic
@{ Layout = null;}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Manage Author</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal" id="content">

            <dt>Author Name</dt>
            <dd><fieldset><input type="text" id="authorName" name="sql" pattern="^[a-zA-ZА-Яа-яЁё\s]+$" required /></fieldset></dd>

            <dd><br /></dd>

            <dd><input type="text" id="authorId" style="display: none" /></dd>
            <dd><br /></dd>

            <dd><input type="submit" id="createAuthorBtn" value="Create Author" style="display: none" /></dd>
            <dd>
                <input type="submit" id="updateAuthorBtn" value="Update Author" style="display: none" />
                &nbsp;
                <input type="submit" id="deleteAuthorBtn" value="Delete Author" style="display: none" />
            </dd>


            <dd><fieldset><br /><textarea id="authorResult" style="width: 300px; display: none" disabled="disabled" ></textarea></fieldset></dd>

        </dl>
    </div>
</div>

<script src="~/Scripts/manageAuthorScripts.js"></script>
<script>
    
    // display content
    function getContent() {
        var model = @Model;
        if (model != -1) {
            getAuthor(model);
        } else {
            currentBtns = ["#createAuthorBtn"];
        }
    }
    
    $(document).ready(function() {

        keyUpDisplBtnForModalViewContent();
        displayButton();
        getContent();
        changeAuthorNameTextBox();
        btnEvents();

    });

</script>




