@{ Layout = null;}


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Manage Book</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal" id="content">

            <dt>Name of Book</dt>
            <dd><fieldset><input type="text" id="bookName" name="sql" required/></fieldset></dd>

            <dd><br /></dd>

            <dt>Year</dt>
            <dd><input type="text" id="bookYear" pattern="[0-9]{4}" maxlength="4"required/></dd>

            <dd><br/></dd>

            <dt>Author</dt>
            <dd><input type="text" id="authorNameInput" pattern="^[a-zA-ZА-Яа-яЁё\s]+$" required/></dd>
            <dd><select id="authorNameSelect"></select></dd>

            <dd><input type="text" id="bookId" style="display: none"/></dd>
            <dd><br /></dd>

            <dd><input type="submit" id="createBookBtn" value="Create Book" style="display: none" /></dd>
            <dd>
                <input type="submit" id="updateBookBtn" value="Update Book" style="display: none"/>
                &nbsp;
                <input type="submit" id="deleteBookBtn" value="Delete Book" style="display: none" />
            </dd>


            <dd><fieldset><br/><textarea id="bookResult" style="width: 300px; display: none" disabled="disabled"></textarea></fieldset></dd>

        </dl>
    </div>
</div>

<script src="~/Scripts/manageBookScripts.js"></script>
<script>
    
    // display content
    function getContent() {
        var model = @Model;
        if (model != -1) {
            getBook(model);
        } else {
            getAuthors();
            currentBtns = ["#createBookBtn"];
            $('#bookResult').css("display", "block");
            $('#bookResult').append("Create button will be enabled when all fields will be filled");
        }
    }

    $(document).ready(function() {

        keyUpDisplBtnForModalViewContent();
        displayButton();
        getContent();
        setAuthorNameTextBoxFromComboBox();
        changeAuthorNameTextBox();
        btnEvents();

    });

</script>